<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
        <title>
            algo-bot
        </title>
        
    </head>
    <body>
        <div id="ui">
            <div id="chart"></div>
        </div>

        
        <div id="symbol-selection">
            <form action="/buy" method="post">
                <div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>

                <input type="text" name="quantity" id="quantity" placeholder="quantity">
                <input type="text" name="price" id="price" placeholder="price">
                <select name="symbols" id="symbol">
                    {% for symbol in symbols %}
                    <option> {{symbol}}</option>
                    {%endfor%}
                </select>
                <input type="submit" value="buy" name="buy">
            </form>
        </div>

        <div id="balance">
            <h2>My Balances</h2>
            <ul>
                {% for balance in balances%}
                <li>
                    {{balance['asset']}} {{balance['free']}}
                </li>
                {%endfor%}
            </ul>
        </div>
        
    </body>
    <!-- <script src="{{ url_for('static', filename='script-test.js')}}"></script> -->
    <script src="{{ url_for('static', filename='chart.js')}}"></script>
</html>